    <script type="text/javascript">
        new jBox('Image', {
            closeOnClick: true,
            color: "#3883FA",
            imageSize: "auto"
        });
    </script>
<footer id="footer" class="footer-container">
    <div class="footer">
        <div class="copyright">
            <p>
                <a href="/uncopyright">uncopyright</a>
            </p>
        </div>
    </div>
</footer>