<nav>
    <ul>
        <li class="<% if (active == 'home') { %> logo <% } %>">
            <a href="/">home</a>
        </li>
        <li class="<% if (active == 'posts') { %> logo <% } %>">
            <a href="/posts">posts</a>
        </li>
        <li>
            <a href="/about">about</a>
        </li>
        <li>
            <a href="https://github.com/leothelocust">projects</a>
        </li>
    </ul>
</nav>
