<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="home type-page">
    <div class="container">

        <% include ../partials/header %>

        <main class="main" id="main">
            <article class="entry">
                <header class="header-container">
                    <div class="header entry-header">
                        <div class="header-info">
                            <h1 class="title">
                                404
                            </h1>
                        </div>
                        <div class="meta">
                            <span class="posted-on">
                                <time class="date" datetime="2018-04-27T17:05:19-06:00"></time>
                            </span>
                        </div>
                    </div>
                </header>
                <div class="entry-content">

                    <h2>What on earth are your trying to pull hot shot.</h2>
                     <a href="/">Turn around</a>
                </div>
                <footer class="entry-footer-container">
                    <div class="entry-footer">

                    </div>
                </footer>
            </article>
        </main>

        <% include ../partials/footer %>

    </div>
</body>

</html>