<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="home type-page">
    <div class="container">

        <% include ../partials/header %>

        <main class="main" id="main">
            <article class="entry">
                <header class="header-container">
                    <div class="header entry-header">
                        <div class="header-info">
                            <h1 class="title">
                                <a href="/"></a>
                            </h1>
                        </div>
                        <div class="meta">
                            <span class="posted-on">
                                <time class="date" datetime="2018-04-27T17:05:19-06:00"></time>
                            </span>
                        </div>
                    </div>
                </header>
                <div class="entry-content">
                    <p>So... we've been trying to get our 5 yr old son to finish drinking his milk.</p>
                    <p>One of the ways we have encourage him is to explain that milk contains proteins that
                    are good for the body and help build strong muscles. Skim is good, 1% is good, 2% is even better.
                    </p>
                    <p>He thought for a while, and said...<br /><br /></p>
                    <blockquote>
                        <p>Dad, have you been drinking 100% milk?
                            <br />Cause your muscles are sooo big!
                        </p>
                    </blockquote>
                    <p>And that my friends is why being a dad is the best.</p>
                </div>
                <footer class="entry-footer-container">
                    <div class="entry-footer">

                    </div>
                </footer>
            </article>
        </main>

        <% include ../partials/footer %>

    </div>
</body>

</html>